<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Food Shops</title>
  </head>
  <body>
    <header>
      <div class="my-header">
      <div class="title-app">
        <h2><span style="color: orange;">F</span>ood shops</h2>
      </div>
      <div class="navbar">
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
    </header>
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
  </body>
</html>
