<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=storefront"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <link rel="icon" href="/images/icons/icon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Food Shops</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <header>
      <header-app></header-app>
    </header>
    <div id="overlay"></div>
    <div id="loading">
      <div class="spinner"></div>
      <div class="text-loading">Loading...</div>
    </div>
    <main>
      <section id="hero-section">
        <div class="hero-section">
          <div class="hero-text">
            <h1>Kami Ada Membuat Anda Kenyang</h1>
            <p>"Makanan yang baik adalah dasar dari kebahagiaan yang tulus."</p>
            <p>- Auguste Escoffier -</p>
          </div>
          <div class="hero-image">
            <img
              src="/images/heros/hero-image_4.jpg"
              alt="hero image"
              style="width: 100%; height: 100%; object-fit: cover"
            />
          </div>
        </div>
      </section>
      <section id="main-content"></section>
      <section id="cta-section">
        <cta-section></cta-section>
      </section>
    </main>
    <footer>
      <footer-app
        my-footer="Raleydi Wardhana © 2024 - Food Shops"
      ></footer-app>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    </script>
  </body>
</html>
