*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.my-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  background-color: #13181d;
  align-items: center;
}

.my-header .title-app {
  color: white;
  font-size: 1.5rem;
  padding: 1.2rem;
  font-family: Poppins, sans-serif;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
  font-family: Quicksand;
  padding: 2rem;
}

.navbar ul li a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

.toggle-menu {
  color: white;
  font-size: 2rem;
  display: none;
  align-items: center;
  cursor: pointer;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.hero-text {
  position: relative;
  color: white;
  z-index: 10;
  text-align: center;
  padding: 3rem;
}

.hero-text h1 {
  font-size: 2.2rem;
  font-family: Poppins, sans-serif;
}

.hero-text p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  font-family: Quicksand, sans-serif;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13181d69;
  z-index: 1;
}

.catalog-section {
  padding: 5rem;
  padding-block: 6rem;
  padding-block-end: 9rem;
  background-color: #13181d;
}

.title-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-family: Poppins, sans-serif;
}

#container-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  padding-block-start: 3rem;
  justify-content: center;
  text-align: center;
  align-items: stretch;
}

#container-item .card {
  background-color: rgba(255, 166, 0, 0.884);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.459);
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 2rem;
  object-fit: cover;
}

.card h2 {
  margin-block-start: 0;
  font-family: Poppins, sans-serif;
}

.card p {
  font-family: Quicksand, sans-serif;
}

.card p a {
  color: rgb(30, 143, 219);
  padding: 1rem;
  font-weight: 700;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.616);
  z-index: 1;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #918d8d;
  z-index: 9999;
}

.spinner {
  margin-inline: auto;
  border: 6px solid rgba(0, 0, 0, 0.1);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease-out infinite;
}

.text-loading {
  margin-block-start: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.detail_restaurant {
  background-color: #13181d;
  color: white;
  padding: 9rem 6rem;
}

.detail_restaurant h2 {
  margin: 0;
  font-size: 2.4rem;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.location_restaurant {
  text-align: center;
  font-family: Quicksand, sans-serif;
  color: orange;
}

.restaurant_info {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-block: 6rem;
  border-radius: 2rem;
  background-color: orange;
  box-shadow: 0 0 25px black;
  color: #13181d;
  font-family: Quicksand, sans-serif;
  font-weight: bold;
}

.restaurant_info p {
  margin: 0;
  max-width: 650px;
  padding-inline-end: 3rem;
}

.info_image img {
  width: 300px;
  border-radius: 2rem;
}

.menus h3 {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
}

.restaurant_menus {
  display: flex;
  justify-content: center;
}

#menus {
  padding: 2rem;
  margin-block: 3rem;
}

#menus h4 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  color: orange;
  text-align: center;
}

#menus ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  justify-content: center;
}

#menus ul li {
  margin: 20px;
  text-align: center;
  font-weight: 700;
  font-family: Quicksand, sans-serif;
  background-color: rgb(241, 162, 14);
  color: white;
  list-style: none;
  padding: 1rem;
}

.reviews_restaurant {
  padding: 3rem;
}

.reviews_restaurant h4 {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.review_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: start;
  padding-block-start: 6rem;
}

.review_form form {
  display: grid;
  gap: 3rem;
  width: 50%;
}

.review_form form textarea {
  height: 100px;
  padding: 0.5rem;
}

.review_form form input {
  padding: 0.8rem;
  font-size: 1rem;
}

.review_form form button {
  padding: 1rem;
  background-color: orange;
  border: none;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #13181d;
}

.review_form form button:hover {
  background-color: rgb(235, 157, 12);
}

.review_form #reviews {
  margin-inline-start: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: orange;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
  height: 600px;
  width: 600px;
  align-items: start;
}

#reviews .review {
  background-color: #13181d;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px #13181d;
  height: auto;
}

footer p {
  margin: 0;
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: #13181dfa;
  font-family: Quicksand, sans-serif;
}

@media (max-width: 910px) {
  .info_image img {
    width: 250px;
  }

  .info_description {
    font-size: 0.9rem;
  }

  .detail_restaurant {
    padding-inline: 2rem;
  }

  .restaurant_menus {
    flex-direction: column;
  }

  .review_form #reviews {
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }
}

@media (max-width: 790px) {
  .my-header {
    padding-inline: 1rem;
  }

  .title-catalog {
    font-size: 1.2rem;
  }

  .restaurant_info {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .info_description p {
    padding: 0;
  }

  .reviews_restaurant {
    padding: 0rem;
  }
}

@media (max-width: 670px) {
  .navbar .navbar-menu {
    display: none;
  }

  .navbar .toggle-menu {
    display: flex;
    padding-inline-end: 1rem;
  }

  .navbar ul li {
    margin: 2rem;
  }

  .hero-text h1 {
    font-size: 1.4rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .cta_description h1 {
    font-size: 1.5rem
  }

  .catalog-section {
    padding: 2rem;
  }

  .detail_restaurant {
    padding-inline: 2rem;
  }

  .review_form #reviews {
    width: 250px;
  }
}

@media (max-width: 520px) {
  .review_form {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .review_form #reviews {
    margin: 6rem 0rem;
  }
  
}

@media (max-width: 420px) {
  .my-header {
    padding-inline: 0;
  }

  .my-header .title-app {
    font-size: 1rem;
  }

  .hero-text {
    padding: 1rem;
  }

  .title-catalog {
    font-size: 1rem;
  }

  .info_image img {
    width: 180px;
  }

  .info_description p {
    font-size: 0.7rem;
  }

  #menus ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    justify-content: center;
  }
}

@keyframes slideMenu {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar-menu.navbar-expand {
  position: fixed;
  left: 0;
  top: 65px;
  width: 100%;
  height: 50vh;
  z-index: 1000;
  background-color: #13181d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideMenu 0.5s ease forwards;
  padding: 0;
  margin: 0;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 99999;
  text-decoration: none;
}

.skip-link:focus {
  left: 50%;
  background-color: orange;
  padding: 10px;
  color: #13181d;
}

#main-content:focus {
  outline: 3px solid #ff0;
}

.navbar ul li a:focus {
  border-bottom: 2px solid orange;
  transition: none;
}
