*,
::after,
::before {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
}
body {
  padding: 0;
  margin: 0;
}
a,
button,
input,
textarea {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}
input,
textarea {
  font-size: 0.9rem;
  font-family: Poppins, sans-serif;
}
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}
.hero-text {
  position: relative;
  color: #fff;
  z-index: 10;
  text-align: center;
  padding: 3rem;
}
.hero-image,
.hero-image::before {
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  top: 0;
}
.hero-text h1 {
  font-size: 2.2rem;
  font-family: Poppins, sans-serif;
}
.hero-text p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  font-family: Quicksand, sans-serif;
}
.card h2,
.title-catalog {
  font-family: Poppins, sans-serif;
}
.hero-image::before {
  content: '';
  background-color: #13181d69;
  z-index: 1;
}
#loading,
#overlay,
.like {
  position: fixed;
}
.catalog-section {
  padding: 3rem;
  padding-block: 6rem;
  padding-block-end: 9rem;
  background-color: #13181d;
}
.title-catalog {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  color: #fff;
}
.header-catalog {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-inline: 4rem;
}
.header-catalog .search_bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-catalog .search_bar input {
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border-radius: 5px;
}
.header-catalog .search_bar input:focus {
  border-color: orange;
  outline: 1px solid orange;
}
.header-catalog .search_bar span {
  color: orange;
  font-size: 38px;
  transform: scaleX(-1);
  display: inline-block;
}
#container-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding-block-start: 1rem;
}
#container-item .card {
  background-color: orange;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.459);
}
.card__header {
  position: relative;
}
.card__header .card__header__rating {
  position: absolute;
  bottom: 20px;
  padding: 0.5rem;
  left: 0;
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  background-color: #1f252b;
}
.card .card__header__image img {
  width: 100%;
  height: 170px;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}
.card__content {
  padding: 1rem;
}

.card__content h2 {
  margin-block: 0;
  font-size: 1.3rem;
}

.card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-weight: 500;
}

.card p,
.restaurant_info,
footer p,
.menu_card p,
.review_item .review_item__body {
  font-family: Quicksand, sans-serif;
}
.message_text,
.reviews_restaurant h4,
.card__menus h4,
.title_menus h3,
.review_form #addReviewForm button,
.review_item .review_item__header {
  font-family: Poppins, sans-serif;
  text-align: center;
}

.card a {
  text-decoration: none;
  color: #1e252c;
}
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
}
#overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.616);
  z-index: 1;
}
#loading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #918d8d;
  z-index: 9999;
}
.spinner {
  margin-inline: auto;
  border: 6px solid rgba(0, 0, 0, 0.1);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: 1s ease-out infinite spin;
}
.text-loading {
  margin-block-start: 1rem;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.restaurant {
  background-color: #13181d;
}
.restaurant_info__content {
  max-width: 1300px;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.restaurant_info__content .title_content {
  color: orange;
  font-size: 2rem;
  font-family: Poppins, sans-serif;
}
.restaurant_info__content .info_description {
  max-width: 750px;
  width: 100%;
  line-height: 1.5rem;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-weight: 400;
}
.location_restaurant {
  display: flex;
  gap: 10px;
  max-width: 700px;
  margin-block-start: 3rem;
  align-items: start;
}

.info_wrapper {
  display: grid;
  border-radius: 5px;
  background: #ff8000;
  box-shadow:
    inset 15px 15px 19px #b85c00,
    inset -15px -15px 19px #ffa400;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.info_wrapper p {
  font-size: 18px;
  margin: 0;
}

.info_wrapper span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  background-color: #13181d;
  margin-block: 5rem;
  padding-inline: 2rem;
}
.restaurant_menus {
  height: 480px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}
.card__menus {
  position: relative;
  width: 80px;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: start;
  transition: 1.8s ease-out;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.card__menus > .row {
  color: white;
  margin-block-start: 0.5rem;
}
.card__menus > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 7px;
}
.card__menus > .row > .description__menus {
  max-height: 350px;
  flex-direction: column;
  width: 1000px;
  opacity: 0;
  transform: translateX(200px);
  transition-delay: 1.2s;
  transition: all 1.2s ease;
}
.card__menus h4 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-block: 0 0.5rem;
  text-align: center;
}
.description__menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding-inline: 1rem 1rem;
  grid-auto-rows: auto;
  align-items: start;
  overflow-y: auto;
}

.menu_card {
  display: flex;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-items: start;
  height: auto;
}

.menu_card img {
  object-fit: cover;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 110px;
}
.menu_card p {
  color: #13181d;
  margin: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.restaurant_menus input {
  display: none;
}

input:checked + label {
  width: 1000px;
}

input:checked + label .description__menus {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.message_text {
  color: red;
}

.reviews_restaurant {
  max-width: 1250px;
  margin: auto;
}

.reviews_restaurant .title_section__reviews {
  color: white;
  font-size: 2rem;
  border-top: 4px solid orange;
  margin-inline: 3rem;
  padding-block-start: 1rem;
}

.review_container {
  display: flex;
  color: white;
  justify-content: center;
  gap: 2rem;
  padding: 0 3rem 5rem 3rem ;
}

.review_container .review_content {
  width: 70%;
}
.review_item {
  padding-block: 1rem;
  border-bottom: 2px solid rgb(102, 101, 98);
}
.review_item p {
  margin-block: 0.5rem;
}
.review_item .review_item__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.review_item .review_item__header .review_name {
  color: orange;
}
.review_item .review_item__header .review_date {
  font-size: 0.8rem;
}
.review_navigation {
  margin-block-start: 2rem;
}
.review_navigation .active {
  background-color: orange;
  border: none;
  width: 60px;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: bold;
  color: #292c30;
  cursor: pointer;
}
.review_navigation .active:hover {
  opacity: 0.5;
}
.review_navigation .inActive {
  background-color: #e9e9ed;
  border: none;
  width: 60px;
  border-radius: 5px;
  font-family: Poppins;
  font-weight: bold;
  color: #292c30;
  cursor: no-drop;
}
.review_form {
  width: 30%;
}
.review_form #addReviewForm {
  display: flex;
  flex-direction: column;
  background-color: orange;
  border-radius: 5px;
  gap: 1.5rem;
  padding: 0.5rem;
  font-family: Poppins, sans-serif;
  margin-block-start: 0.5rem;
}
input::placeholder,
textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #cfcbcb;
}
.review_form #addReviewForm input {
  background-color: #292c30;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5rem;
}

.review_form #addReviewForm textarea {
  background-color: #292c30;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5rem;
  height: 130px;
}
.review_form #addReviewForm button {
  background-color: #1e252c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.review_form #addReviewForm button:hover {
  background-color: #1e252cf8;
}

.review_form .title_form {
  padding: 0.5rem 0rem;
  border: 1px solid orange;
  border-radius: 5px;
}

footer p {
  margin: 0;
  padding: 2rem;
  text-align: center;
  color: #fff;
  background-color: #13181dfa;
}

@media (max-width: 1150px) {
  .card__menus > .row > .description__menus {
    width: 800px;
  }
  input:checked + label {
    width: 800px;
  }
}
@media (max-width: 790px) {
  .my-header {
    padding-inline: 1rem;
  }
  .title-catalog {
    font-size: 1.2rem;
  }
  .restaurant_info {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .info_description p,
  .reviews_restaurant {
    padding: 0;
  }
}
@media (max-width: 670px) {
  .my-header {
    padding-inline: 0;
  }
  .navbar .navbar-menu {
    display: none;
  }
  .navbar .toggle-menu {
    display: flex;
    padding-inline-end: 1rem;
  }
  .hero-text h1 {
    font-size: 1.4rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .cta_description h1 {
    font-size: 1.5rem;
  }
  .catalog-section {
    padding: 2rem;
  }
  .review_form #reviews {
    width: 250px;
  }
  .restaurant_info__content .title_content {
    font-size: 1.4rem;
  }
  .restaurant_info__content .info_description {
    font-size: 1rem;
  }
  .location_restaurant {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .review_form {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .review_form #reviews {
    margin: 6rem 0;
  }
  .restaurant_info__content {
    padding: 0 2rem;
  }
  .catalog-section {
    padding: 6rem 1rem 9rem 1rem;
  }
}

@media (max-width: 610px) {
  #container-item {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 0.5rem;
  }
}

@media (max-width: 450px) {
  .hero-text {
    padding: 1rem;
  }
  .catalog-section {
    padding: 6rem 0.5rem 9rem 0.5rem;
  }
  #container-item {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 0.5rem;
  }
  .restaurant_info__content {
    padding: 0 1.2rem;
  }
  .info_wrapper {
    font-size: 0.9rem;
    padding: 5px;
  }
  .card__content {
    padding: 0.5rem;
  }
  .card__content h2 {
    font-size: 1.1rem;
  }
  .card__content p {
    font-size: 0.8rem;
    -webkit-line-clamp: 3;
  }
  .card .card__header__image img {
    height: 120px;
  }
  .title-catalog h2 {
    font-size: 1.6rem;
  }
  .title-catalog img {
    font-size: 1.4rem;
  }
  .title-catalog .material-symbols-outlined {
    width: 42px;
  }
  .card__header .card__header__rating {
    font-size: 0.7rem;
  }
}
@keyframes slideMenu {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.navbar-menu.navbar-expand {
  position: fixed;
  left: 0;
  top: 65px;
  width: 100%;
  height: 50vh;
  z-index: 1000;
  background-color: #13181d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 0.5s forwards slideMenu;
  padding: 0;
  margin: 0;
}
.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 99999;
  text-decoration: none;
}
.skip-link:focus {
  left: 50%;
  background-color: orange;
  padding: 10px;
  color: #13181d;
}
#main-content:focus {
  outline: #ff0 solid 3px;
}
.navbar ul li a:focus {
  border-bottom: 2px solid orange;
  transition: none;
}

.card__menus[for='c1'] {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../public/images/foods/food-bg.jpg');
  background-size: cover;
}
.card__menus[for='c2'] {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../public/images/drinks/drink-bg.jpg');
  background-size: cover;
}
